body {
    -webkit-display: grid;
    display: grid;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.btn {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

button#import {
    background-color: #646162;

    border-color: transparent;
    border-radius: 8px;
    height: 40px;
    user-select: none;
    outline: 0;
    width: 100%;
    max-width: 350px;

    font-family: 'Gentium Book Plus', serif;
    font-size: 25px;
    font-weight: 400;

    color: #FFFFFF;
}

button#import:hover {
    cursor: pointer;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: 35px;
}

.table-responsive {
    margin-left: 300px;
    display: grid;
    width: 70% !important;
}

.table {
    width: 70% !important;
}

.a {
    display: flex;
}

.a img:hover {
    cursor: default;
}

img#termedic {
    width: 600px;
    height: 190px;
    margin-top: 20px;
    margin-right: 20px;
}

img#serv {
    /* position: absolute;
    bottom: 100px;
    left: -90px; */

    width: 350px;
    height: 250px;
    margin-right: 50px;
}

.tableDivs {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    text-align: start;
    margin-bottom: -15px;
}

.tableDivs input {
    margin-top: 17px;
}

#title {
    color: #FFFFFF;
    background-color: #646162;
    font-size: 25px;
    border-radius: 8px;
    width: 100%;
}

.title {
    font-weight: bold;
}

input {
    align-content: flex-start;
    align-items: flex-start;
}

th {
    /* width: 100%; */
    text-align: start;
    font-weight: normal;
}

img {
    cursor: pointer;
}

img#rmv {
    display: flex;
    width: 50px;
    height: 50px;
}

img#refresh {
    position: absolute;
    height: 35px;
    width: 35px;
    bottom: 20px;
    left: 20px;
    transition: transform .7s ease-in-out;
}

img#refresh:hover {
    transform: rotate(360deg);
}

img#back {
    position: fixed;
    height: 35px;
    width: 35px;
    top: 20px;
    left: 20px;
}

input {
    height: 18px;
    width: 18px;
    inline-size: none;
    user-select: 0;
}

img#right {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
}