body {
    -webkit-display: grid;
    display: grid;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.btn {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

button#import {
    background-color: #646162;

    border-color: transparent;
    border-radius: 8px;
    height: 40px;
    user-select: none;
    outline: 0;
    width: 100%;
    max-width: 350px;

    font-family: 'Gentium Book Plus', serif;
    font-size: 25px;
    font-weight: 400;

    color: #FFFFFF;
}

button#import:hover {
    cursor: pointer;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: 35px;
}

.table-responsive {
    display: grid;
    width: 100% !important;
}

.table {
    width: 100% !important;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.tableDivs {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    text-align: start;
    margin-bottom: -15px;
}

.tableDivs input {
    margin-top: 20px;
}

.title {
    font-weight: bold;
}

input {
    align-content: flex-start;
    align-items: flex-start;
}

th {
    /* width: 100%; */
    text-align: start;
    font-weight: normal;
}

img {
    cursor: pointer;
}

img#rmv {
    display: flex;
    width: 50px;
    height: 50px;
}

img#refresh {
    position: absolute;
    height: 35px;
    width: 35px;
    bottom: 20px;
    left: 20px;
    transition: transform .7s ease-in-out;
}

img#refresh:hover {
    transform: rotate(360deg);
}

img#back {
    position: fixed;
    height: 25px;
    width: 25px;
    top: 20px;
    left: 20px;
}

input {
    height: 12px;
    width: 12px;
    inline-size: none;
    user-select: 0;
}

img#right {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
}