body {
    overflow-x: hidden;
}

.content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.buttons {
    display: none;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* width: 100%; */
    
    position: absolute;
    bottom: 20px;
    left: 20px;
}

button#addMP, button#modifyMP, button#rmv {
    margin-bottom: 20px;
}

.higi {
    font-size: 25px;
    display: block;
    width: 400px;
    margin-left: 200px;
    margin-top: 25px;
}

.higi input {
    width: 16px;
    height: 16px;
    margin-right: -12px;
    vertical-align: middle;
    position: relative;
    text-align: justify;
    margin-top: 20px;
}

.selectDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 45px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 5px;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs p {
    margin-top: 88px;
}

img#termedic:hover {
    cursor: default;
}

.inputs2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputs2 input {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: -15px;
}

select#options {
    margin-bottom: -25px;
}

select {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;

    font-size: 15px;
    width: 250px;
    user-select: none;
    outline: 0;

    border-radius: 8px;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 20px;
}

input {
    width: 400px;
    margin-top: 80px;

    font-size: 20px;
    border-radius: 20px;
    text-align: center;

    user-select: none;
    outline: 0;
    border-color: #383737;
    margin-bottom: 25px;
    max-width: 400px;
}

img#rmv {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
}

img:hover {
    cursor: pointer;
}

p {
    width: 100%;
    font-size: 30px;
    font-family: 'Gentium Book Plus', serif;
}

p#X {
    margin-left: -300px;
    margin-right: -300px;
}

p#mate {
    margin-bottom: 5px;
}

img#back {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

button {
    background-color: #646162;

    border-color: transparent;
    border-radius: 8px;
    height: 40px;
    user-select: none;
    outline: 0;
    max-width: 400px;

    font-family: 'Gentium Book Plus', serif;
    font-size: 25px;
    font-weight: 400;

    transition: opacity 0.9s;
    color: #FFFFFF;
}

button:hover {
    cursor: pointer;
}

img#right {
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 25px;
}

img#right:hover {
    cursor: pointer;
}

.inputs input,
p {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: -15px;
}

img#termedic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 600px;
    height: 190px;
    margin-bottom: -55px;
}

input#cav {
    justify-content: center;
    margin-left: 205px;
}