body {
    -webkit-display: grid;
    display: grid;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.btn {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.options {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
}

.options img {
    width: 35px;
    height: 35px;

    margin-right: 20px;
    margin-bottom: 20px;
}

/* .option button {
    inline-size: none;
    background-color: #FFFFFF;
} */

.inputs {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* .inputLabel {
    display: grid;
} */

.inputs label {
    text-align: center;
    margin-bottom: 5px;
}

.inputs input {
    align-items: center;
    justify-content: center;

    margin-right: 2px;
    height: 17px;
    width: 100%;
    /* max-width: 290px; */
    margin-top: 80px;

    font-size: 20px;
    border-radius: 20px;
    text-align: center;

    user-select: none;
    outline: 0;
    border-color: #383737;
    margin-bottom: 25px;
    margin-top: 10px;
    /* margin-left: 20px; */
}

p#markup {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

button#import {
    background-color: #646162;

    border-color: transparent;
    border-radius: 8px;
    height: 40px;
    user-select: none;
    outline: 0;
    width: 100%;
    max-width: 350px;

    font-family: 'Gentium Book Plus', serif;
    font-size: 25px;
    font-weight: 400;

    color: #FFFFFF;
}

button#import:hover {
    cursor: pointer;
}

p#mod {
    color: #e02041;
    cursor: pointer;
}

h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-size: 35px;
}

.title {
    font-weight: bold;
}

.br {
    color: #FFFFFF;
}

p {
    font-weight: normal;
}

.table-responsive {
    display: none;
    width: 100% !important;
}

.custos {
    font-size: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.custoMeee {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
    margin-left: 10px;
    margin-right: 120px;
}

.confirm, .add, .new {
    white-space: nowrap;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
/* 
.confirm, .add, .new p {
    margin-bottom: 15px;
} */

.confirm:hover #comentario {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    color: #000000;
    margin-right: 50px;
}
.confirm img {
    margin-top: 10px;
}

.add:hover #comentario {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    color: #000000;
    margin-right: 50px;
}
.add img {
    margin-top: 10px;
}

img#mark {
    position: absolute;
    top: 50px;
    right: 30px;

    width: 450px;
    height: 450px;
}

img#mark:hover {
    cursor: default;
}

.new:hover #comentario {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    color: #000000;
    margin-right: 50px;
}
.new img {
    margin-top: 10px;
}

#comentario {
    position: relative;
    top: 20;
    display: none;
    color: #FFFFFF;
}

.custoMaxx {
    text-align: center;
    align-content: center;
    justify-content: center;
    display: grid;
}

.table {
    width: 100% !important;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.table-status {
    margin-top: 20px;
    margin-bottom: 20px !important;
}

th {
    /* width: 100%; */
    text-align: start;
    font-weight: normal;
    padding-right: 20px;
}

img {
    cursor: pointer;
}

img#rmv {
    position: fixed;
    display: flex;
    width: 50px;
    height: 50px;
}

img#help {
    position: fixed;
    position: absolute;
    height: 35px;
    width: 35px;
    margin-left: 200px;
}

img#back {
    position: fixed;
    height: 35px;
    width: 35px;
    top: 20px;
    left: 20px;
}

input {
    height: 12px;
    width: 12px;
    inline-size: none;
    user-select: 0;
}

img#right {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
}